@font-face {
    font-family:Pluto ;
    src: url(GenieCapitalLtd/Home/PlutoBold.otf);
}
@font-face {
    font-family:Pluto1 ;
    src: url(GenieCapitalLtd/Home/PlutoRegular.otf);
}
.body{
    font-family: Pluto1;
    color:rgb(8, 4, 48) ;
}
.header{
color: rgb(8, 4, 48);
}
h3{
    font-family: pluto;
  
}
.Fhero{
    background-color:rgb(8, 4, 48);
}
.sec{
    background-color:rgb(8, 4, 48);  
}

.pic{
    background-image: url(GenieCapitalLtd/Home/PM.jpeg);
    width: 100%;
    height: 30vh;
    background-position: top;
    background-size: cover;
    position: relative;
    transform: scaleY(-1);
    
   
}
.pics {
    background-image: url(GenieCapitalLtd/Home/Invest.jpg);
    width: 100%;
    height: 20vh;
    background-position: 0pt;
    background-size:cover;
   
}
.bg{
    background-color:rgb(8, 4, 48);  
}
.borde{
    background-color: green;
    position: relative;
    margin-top:-20px ;
    
    
}
.form-label{
    border: none; 
    border-bottom:2px solid black;
    padding: 18px;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
}

.foot{
    max-width: 100%;
    height: auto;
    margin-bottom: -90px
}
.property-container{
    border: 1px solid black;
    padding: 6rem 25px 10px 20px;
    position: relative;
}
.composition{
    padding: 2rem 145px;
    width: 100%;
}
.panel-section{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    width: 100%;
    padding: 30px 5rem;
    margin-left: -40px;
    margin-top: -20px;
}
